.navbar {
  background-color: #2d353d;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

ul {
  list-style-type: none;
  margin-right: 20px;
}

li {
  display: inline-block;
  margin: 10px 10px  10px;
}

.home-nav {
  color: black;
  background-color: #2d353d;
  
}
/*

Color	Hex	RGB
#fffaf0	(255,250,240)
#fffff0	(255,255,240)
#fff8dc	(255,248,220)
#fffafa	(255,250,250)
#ffffff	(255,255,255)

*/